* {
	list-style-type: none;
	display: block;
}

ul.nav_bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #aa0909;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111111;
}

header {
	text-align: center;
	font-size: large;
}
.img {
	float: left;
	width: 50%;
}
.port {
	float: left;
	width: 50%;
}
.inner-list {
	list-style-type: none;
}
#green {
	color: green;
	display: inline;
}
#white {
	color: white;
	display: inline;
	background-color: black;
}
#red {
	color: red;
	display: inline;
}
footer {
	width: 100%;
	text-align: center;
}
.contact {
	text-align: center;
}
.header {
	padding-top: 38px;
	padding-bottom: 38px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}